# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,json,yaml,njk,css,scss,html}]
indent_style = space
indent_size = 2

[*.{js,mjs,ts}]
quote_type = single
