.arrow-nav {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  z-index: 5;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      margin: 0;
      padding: 0;
    }
  }
}
