.button {
  appearance: none;
  display: block;
  background: var(--button-bg--primary);
  color: var(--button-fg--primary);
  border: none;
  padding: .5rem;
  border-radius: .25rem;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  transition: transform 200ms;
  cursor: pointer;

  &:disabled {
    background: var(--button-bg--primary-disabled);
    color: var(--button-fg--primary-disabled);
  }

  &:focus {
    outline: var(--button-outline);
    background: var(--button-bg--primary-focus);
    color: var(--button-fg--primary-focus);
  }

  &:hover {
    transform: scale(1.2);
  }

  svg {
    display: block;
    width: 3rem;
    height: 3rem;
  }
}
