.slide {
  position: relative;
  width: 100%;
  height: 100%;

  &__content {
    width: min(100% - 3rem, var(--container-max, 60ch));
    margin-inline: auto;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    max-width: unset;
  }

  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--with-image {
    display: flex;
    justify-content: space-between;

    .slide__content {
      width: min(100% - 3rem, var(--container-max, 50ch));
    }

    .slide__side-image {
      max-height: 100%;
      object-fit: cover;
      grid-column: 2 / 3;
    }
  }

}
