<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description }}" />
    <meta name="x-base" content="{{ site.url }}/" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>{{ title }} – {{ site.name }}</title>
    <style>
      {% include 'css/index.css' %}
    </style>
    <link rel="stylesheet" href="{{ site.url }}/fonts/fonts.css" media="all" onload="this.media='all'">
  </head>
  <body>
    {% block header %}
    {% endblock %}
    {% block content %}
      <main tabindex="-1">
      {{ content | safe }}
      </main>
    {% endblock %}
    {% block aside %}

    {% endblock %}
    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
    <script async src="{{ site.url }}/index.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
