{% extends "layouts/base.njk" %}

{% block content %}
<div class="slide {{ variant }}">
  {% if background %}
    <img class="slide__background" alt="" role="none" aria-hidden="true" src="{{ background }}">
  {% endif %}
  <article class="slide__content | flow">
  {{ content | safe }}
  </article>
  {% if sideImage %}
    <img class="slide__side-image" src="{{ sideImage }}" alt="{{ sideImageAlt }}">
  {% endif %}
</div>
{% endblock %}
