{% extends "layouts/base.njk" %}

{% block content %}
<main id="main-content" class="slide {{ variant }}" tabindex="-1">
  {% if background %}
    <img class="background {{ backgroundVariant }}" alt="{{ backgroundAlt }}"{% if not backgroundAlt %} role="none" aria-hidden="true"{% endif %} src="{{ background }}">
  {% endif %}
  <article class="slide__content | flow">
  {{ content | safe }}
  </article>
  {% if sideImage %}
    <img class="slide__side-image" src="{{ sideImage }}" alt="{{ sideImageAlt }}" width="{{ sideImageWidth }}">
  {% endif %}
</main>
{% endblock %}

{% block footer %}

{%- set leftIcon -%}
  {% include "icons/left.svg" %}
{%- endset -%}

{%- set leftIconAlt -%}
  <span class="visually-hidden">Previous slide</span>
{%- endset -%}

{%- set rightIcon -%}
  {% include "icons/right.svg" %}
{%- endset -%}

{%- set tocIcon -%}
  {% include "icons/toc.svg" %}
{%- endset -%}

{%- set rightIconAlt -%}
  <span class="visually-hidden">Next slide</span>
{%- endset -%}

{% set previousSlide = collections.slides | getPreviousCollectionItem(page) %}
{% set nextSlide = collections.slides | getNextCollectionItem(page) %}

<nav class="arrow-nav" aria-labelledby="slideNavHeadline">
  <h2 id="slideNavHeadline" class="visually-hidden">Slide navigation header</h2>
  <ul role="list">
    <li>
      {% if previousSlide %}
        <a id="previousSlideButton" class="button" href="{{ previousSlide.url }}" data-motion="left">
          {{ leftIcon | safe }}
          <span class="visually-hidden">Previous slide</span>
        </a>
      {% else %}
        <button class="button" disabled>
          {{ leftIcon | safe }} {{ leftIconAlt | safe}}
          <span class="visually-hidden">Previous slide</span>
        </button>
      {% endif %}
    </li>
    <li>
      {% if nextSlide %}
        <a id="nextSlideButton" class="button" href="{{ nextSlide.url }}" data-motion="right">
          {{ rightIcon | safe }}
          <span class="visually-hidden">Next slide</span>
        </a>
      {% else %}
        <button class="button" disabled>
          {{ rightIcon | safe }}
          <span class="visually-hidden">Next slide</span>
        </button>
      {% endif %}
    </li>
    <li>
      <button id="tocButton" class="button" aria-expanded="false" aria-controls="tableOfContents" aria-haspopup="true">
        {{ tocIcon | safe }}
        <span class="visually-hidden">Table of contents</span>
      </button>
    </li>
  </ul>
</nav>
{% endblock %}

{% block aside %}
<aside class="table-of-contents"id="tableOfContents" aria-labelledby="tableOfContentsHeadline" hidden tabindex="-1">
  <h2 id="tableOfContentsHeadline">Table of contents</h2>
  {% include "partials/navigation.njk" %}
</aside>
{% endblock %}
