$white: #fff;
$black: #000;

$black-coffee--100: #86787c;
$black-coffee--200: #5f5554;
$black-coffee--300: #3a3335;

$ruby--100: #ff518a;
$ruby--200: #d81e5b;
$ruby--300: #ab1848;

$cornflower--100: #99c2fe;
$cornflower--200: #6585d6;
$cornflower--300: #214e91;

$badass--100: #bada55;
$badass--200: #7a9a11;
$badass--300: #5a7a11;

$papaya-whip--100: #fff9ed;
$papaya-whip--200: #fdf0d5;
$papaya-whip--300: #ffe5af;
$papaya-whip--400: #cfb59f;

$opal--100: #f0f5f4;
$opal--200: #c6d8d3;
$opal--300: #94aca5;

$grey--100: #ccc;
$grey--200: #777;
$grey--300: #333;
$grey--400: #111;
