$base-size: 1rem;

$size--100: $base-size * 0.5;
$size--200: $base-size * 0.67;
$size--300: $base-size * 0.75;
$size--400: $base-size;
$size--500: $base-size * 1.33;
$size--600: $base-size * 1.77;
$size--700: $base-size * 2.36;
$size--800: $base-size * 3.15;
$size--900: $base-size * 4.2;
$size--big: $base-size * 5.6;
