
// Dark theme (default)
//----------------------------------------------------
:root {
  --bg: #{$grey--400};
  --fg: #{$white};
  --nav-bg: #{$ruby--200};
  --nav-fg: #{$white};
  --nav-bg--hover: #{$black};
  --footer-bg: #{$cornflower--300};
  --footer-fg: #{$white};

  --button-bg--primary: transparent;
  --button-fg--primary: #{$white};
  --button-bg--primary-focus: ${$black};
  --button-fg--primary-focus: ${$white};
  --button-bg--primary-disabled: transparent;
  --button-fg--primary-disabled: #{$grey--200};
  --button-outline: 2px solid #{$white};

  --underline-1: #{$ruby--200};
  --underline-2: #{$cornflower--200};
}

html.theme--light {
  --bg: #{$white};
  --fg: #{$black};

  --underline-1: #{$ruby--300};
  --underline-2: #{$cornflower--300};
  --button-fg--primary: #{$black};
  --button-outline: 2px solid #{$black};
}
