
<ul>
{% for item in collections.slides %}
  <li>
    <a href="{{ site.url }}{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.data.title }}</a>
  </li>
{% endfor %}
</ul>
